experiment: 'example'

### Dataset paths
dataset_path: 'video-test'
dataset_list: 'video_test'   # davis, videvo, both (add sample_ for sample dataset)




### Save paths
model_dir: 'saved_models'
model_name: 'attention'
predictions_dir: 'saved_results'

### Architecture
Encoder:
  context: 3
  activation: 'relu'
  sim_kernel_size: 3
  mix_kernel_size: 3

### Dataloader
Setup:
  model_mode: 'attention'       # cic/ context/ attention
  freeze_cic: True
  context: 3
  batch_size: 1   
  shuffle: True
  num_workers: 4
  pin_memory: True
  device: 'cuda'

## Output
output_location: 'colorized_video'